.board {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(5, 40px);
  gap: 2px;
  margin-bottom: 20px;
}
.cell {
  width: 40px;
  height: 40px;
  background-color: #ddd;
  border: 1px solid #999;
  position: relative;
}
.cell-red-start {
  background-color: #f88;
}
.cell-blue-start {
  background-color: #88f;
}
.cell-green-start {
  background-color: #8f8;
}
.cell-yellow-start {
  background-color: #ff8;
}

.base {
  display: grid;
  grid-template-columns: repeat(8, 40px);
  grid-template-rows: repeat(2, 40px);
  gap: 2px;
  margin-top: 20px;
}
.base-cell {
  width: 40px;
  height: 40px;
  background-color: #eee;
  border: 1px solid #bbb;
  position: relative;
}

.pawn {
  position: absolute;
  width: 36px; height: 36px;
  top: 2px; left: 2px;
  border-radius: 50%;
  text-align: center;
  line-height: 36px;
  font-size: 12px;
  overflow: hidden;
  color: #fff;
}
.color-czerwony {
  background-color: red;
}
.color-niebieski {
  background-color: blue;
}
.color-zielony {
  background-color: green;
}
.color-żółty {
  background-color: gold;
  color: black;
}
